button {
    border: 0;
    top: 4px;
    background: transparent;
    border: solid 2px #BFFF00;
    color: #fff;
    border-radius: 2rem;
    padding: 5px;
    
}

.wrapper{
    justify-content: center;
    align-items: center;
    display:flex;
}


